{% load static %}
<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-5 pb-5">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left  pb-3">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold footertitle">assetplan security ltd.</h6>
          <p class="footerbody">AssetPlan Security LTD., is a recognized leader in enhancing existing property and personal protection services with the key aim to stand out. Through the utilization of specially trained law enforcement professionals, the company is committed to providing excellent services to its clients. Since it was incorporated, the company has recruited and engaged reliable management and operations team that has so for displayed commitments and cohesive execution of their respective tasks.</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
         <img src="{% static 'secure/img/Original.png' %}" alt="" class="img-fluid rounded p-3">
          
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 footertitle font-weight-bold">Contact</h6>
          <p class="footerbody">
            <i class="fas  fa-home mr-3"></i> Ongata Rongai,Emem Building, Kenya</p>
          <p class="footerbody">
            <i class="fas fa-map-marker-alt mr-3"></i> P.O BOX 21874-00100, Nairobi</p>
            
          <p class="footerbody">
            <i class="fas  fa-envelope mr-3"></i> info@assetplan.co.ke</p>
          <p class="footerbody">
            <i class="fas  fa-phone mr-3"></i> +254722135081</p>
          
        </div >
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr class="hr">

      <!-- Grid row -->
      <div class="row d-flex align-items-center mt-2 ">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center footerbody text-md-left">© 2018 Copyright:
            <a class="footerbody footerhover" href="">
              <strong> Terms and conditions</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline ">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://www.facebook.com/pages/category/Security-Guard-Service/AssetPlan-Security-LTD-451368735688431/">
                  <i class="fab fa-facebook-f fb-btn"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter twitter-btn"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g google-btn"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in linked-btn"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->