{% load static %}


{% url 'security:index' as index_url %}
{% url 'security:about' as about_url %}
{% url 'security:contact' as contact_url %}
{% url 'security:career' as career_url %}
{% url 'security:location' as location_url %}
{% url 'services:property-protection' as property_protection_url %}
{% url 'services:personal-guard' as personal_guard_url %}
{% url 'services:event-security' as event_security_url %}
{% url 'services:alarm-and-cctv-installation' as alarm_and_cctv_url %}
{% url 'services:security-audit' as security_audit_url %}
{% url 'services:private-investigation' as private_investigation_url %}
{% url 'services:dog-handling' as dog_handling_url %}





<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
      <a class="navbar-brand" href="{{index_url}}">AssetPlan Security</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if request.path == index_url %} active {% endif %}">
          <a class="nav-link" href="{{ index_url }}">Home</span></a>
        </li>
        <li class="nav-item  dropdown">
          <div class="open">
            
          </div>
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services Offered
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{property_protection_url}}">Property Protection</a>
            <a class="dropdown-item" href="{{personal_guard_url}}">Personal Guard Protection</a>
            <a class="dropdown-item" href="{{event_security_url}}">Event Security</a>
            <a class="dropdown-item" href="{{alarm_and_cctv_url}}">Alarms and CCTV Installations</a>
            <a class="dropdown-item" href="{{security_audit_url}}">Security Audit</a>
            <a class="dropdown-item" href="{{private_investigation_url}}">Private Investigations</a>
            <a class="dropdown-item" href="{{dog_handling_url}}">Dog Handling and Patrols</a>
          </div>
        </li>
        
        <li class="nav-item {% if request.path == about_url %} active {% endif %}">
          <a class="nav-link" href="{{about_url}}">About Us</a>
        </li>
        <li class="nav-item {% if request.path == contact_url %} active {% endif %}">
          <a class="nav-link" href="{{contact_url}}">Contact Us</a>
        </li>
        <li class="nav-item {% if request.path == career_url %} active {% endif %}">
          <a class="nav-link" href="{{career_url}}">Career</a>
        </li>
        
      </ul>
    </div>
  </div>
  
</nav>
<div style="height:55px;">
  
</div>