<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">ASSETPLAN SECURITY LTD.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</span></a>
        </li>
        <li class="nav-item dropdown">
          <div class="open">
            
          </div>
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services Offered
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Property Protection</a>
            <a class="dropdown-item" href="#">Personal Guard Protection</a>
            <a class="dropdown-item" href="#">Event Security</a>
            <a class="dropdown-item" href="#">Alarms and CCTV Installations</a>
            <a class="dropdown-item" href="#">Security Audit</a>
            <a class="dropdown-item" href="#">Private Investigations</a>
            <a class="dropdown-item" href="#">Dog Handling and Patrols</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Career</a>
        </li>
        
      </ul>
    </div>
  </div>
  
</nav>