{% load static %}
<div class="container">
	<hr>
			<div class="row mt-4" >
				<div class="col title text-center mb-3">
					<h3 class="servicetitle" style="color:#112a51;"> Get in Touch </h3>

				</div>
			</div>
			<div class="row">
				<div class="col brief text-center">
					<p class=" textp mx-auto" style="color:#112a51;">Do you have a Question? Call us on : +254722135081 or Email us on info@assetplan.co.ke or fill the form below.</p>
					
				</div>
			</div>
			<div class="row mb-3">
				
				
				
				<div class="col-md-5 fixed-image">
           		 <!--img src="{% static 'secure/img/computers.png' %}" alt="" class="img-fluid"-->
        		</div>
        		<div class="col-12 col-md-7">
        			{% include 'secure/snippets/messages.html' %}
					<form action="" method="POST">
						{% csrf_token %}
						
						<div class=" mb-4">{{form.fullname}}</div>
						<div class="mb-4">{{form.email}}</div>
						<div class="mb-4">{{form.phone}}</div>
						<div >{{form.message}}</div>
						<button type="submit" class="btn btn-lg btn-block btn-primary aboutbtn mt-3" style="color:#fff;">send</button>
					</form>
				</div>

			</div>
		</div>