{% extends 'base.html' %}

{% block title %} Career {% endblock %}

{% block style %}
<style>
.form-control:focus{
	border-color: #112a51 !important; 
 	box-shadow: none; -webkit-box-shadow: none;
 } 
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}
</style>
{% endblock  %}

{% block content %}
<div class="container">
	<div class="row mt-4">
		<div class="col brief bodytext-p">
			<h4 class="text-center subtitle">Careers at Assetplan Security</h4>
			<p> We continuously recruit guards to provide security services to our clients. As part of Assetpan business objectives, all our officers must undergo a rigorous training to determine if they are fit for a particular assignment. the company has recruited and engaged reliable management and operations team that has so far displayed commitments and cohesive execution of their respective tasks.</p>
			<p>We regularly recruit security officers, dog handlers, drivers and customer service staff. We accept applications from persons interested in joining us to be contacted when there are vacancies to fill . <b>to apply for a job at Assetplan Security, kindly fill out the form below and we will get in touch with you.</b></p>
			
		</div>
	</div>
	<div class="row my-5 py-2">
		<div class="col-12 col-md-7 mx-auto">
			{% if messages %}
				{% include 'careers/snippets/messages.html' %}
			{% endif %}
			
			<h4 class="text-center subtitle">Fill the Form</h4>
			<div class="underlineform"></div>
		<form action="" method="POST" enctype="multipart/form-data" class="mt-5" >
			{% csrf_token %}
			<div class="form-row label-color">
				<div class="col label-color">
					<label for="firstName" style="color:#112a51;">Firstname</label><br>
					{{form.firstname}}
					{% if form.help_text %}
					<small class="form-text text-muted">{{form.help_text}}</small>
					{% endif %}
				</div>
				<div class="col label-color">
					<label for="lastname" style="color:#112a51;">Lastname</label><br>
					{{form.lastname}}
				</div>
			</div>

			<div class="form-row label-color">
				<div class="col label-color">
					<label for="phone" style="color:#112a51;">Phone</label><br>
					{{form.phone}}
					{% if form.help_text %}
					<small class="form-text text-muted">{{form.help_text}}</small>
					{% endif %}
				</div>
				<div class="col label-color">
					<label for="email" style="color:#112a51;">Email</label><br>
					{{form.email}}
				</div>
			</div>

			<div class="form-row label-color">
				<div class="col label-color">
					<label for="city" style="color:#112a51;">Nearby City</label><br>
					{{form.location}}
					{% if form.help_text %}
					<small class="form-text text-muted">{{form.help_text}}</small>
					{% endif %}
				</div>
				<div class="col label-color">
					<label for="education" style="color:#112a51;">Highest Education Level</label><br>
					{{form.education}}
				</div>
			</div>
			<div class="label-color">
				<label for="message" style="color:#112a51;">Career Objective</label><br>
				{{form.career_objective}}
			</div>
			<div class="label-color">
				<label for="cv" style="color:#112a51;">Upload your CV</label><br>
				{{form.cv}}
			</div>
				<input type="submit" value="Complete" class="btn btn-sm btn-primary aboutbtn p-2" style="color:#fff;">
		</form>	
		</div>
		
	</div>
</div>
{% endblock %}