{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock %}

{% block style  %}
<style>

	.fixed-image{
		background-image: linear-gradient(to bottom, rgb(17, 42, 81, .4), rgb(17, 42, 81, .6)), url({% static 'secure/img/computers.png' %});
		background-size: cover;
		background-attachment: fixed;
		min-height: 100%;
		
	}



		
</style>

{% endblock %}


{% block content %}
<section id="contactpage">
	{% include 'secure/snippets/contact-form.html' %}
</section>

{% endblock %}