{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}




{% block title %} Security {% endblock %}

{% block style %}
<style>
	#services{
		
		background-image: linear-gradient(to top, rgb(17, 42, 81, .4), rgb(17, 42, 81, .6)), url({% static 'secure/img/computers.png' %});
		max-height: 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
		margin-top: 50px;}

	.fixed-image{
		background-image: linear-gradient(to bottom, rgb(17, 42, 81, .1), rgb(17, 42, 81, .1)), url({% static 'secure/img/computers.png' %});
		background-size: cover;
		background-attachment: fixed;
		min-height: 100%;
		
	}


		
</style>

{% endblock %}

{% block content %}
	<section id="slider">
				{% include 'secure/snippets/slider.html' %}
		
	</section>
	<section id="about">
		<div class="container">
			<div class="row mt-4" >
				<div class="col title text-center mb-3">
					<h3 class ="servicetitle" style="color:#112a51;"> WHY US </h3>
					<div class="underline"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md 6 brief">
					<p class="">AssetPlan Security LTD., a subsidiary of Contemporary Services Corporation, is a recognized leader in enhancing existing property and personal protection services with the key aim to stand out. Through the utilization of specially trained law enforcement professionals, the company is committed to providing excellent services to its clients. Since it was incorporated, the company has recruited and engaged reliable management and operations team that has so for displayed commitments and cohesive execution of their respective tasks.
						<a href="{% url 'security:about' %}" class="btn btn-sm btn-primary aboutbtn" style="color:#fff;">Learn More...</a>
						
					</p>
					
				</div>
				<div class="col-12 col-md 6 ">
					<img src="{% static 'secure/img/dog.jpg' %}" alt="" class="img-fluid w-100" style="height:290px;">
				</div>
			</div>
		</div>
	</section>
	<section id="services" class="">
		<div class="container">
			<div class="row mt-5 " >
				<div class="col title text-center mb-3">
					<h3 class="servicetitle pt-3"  style="color:#f2f4f7;"> OUR SERVICES </h3>
					<div class="underlineservice "></div>
				</div>
			</div>
			<div class="row my-2  ">
				<div class="col-12 col-md-3 mt-2">
					<div class="card" style="width: 100%;">
					  <img class="card-img-top pt-2 imagesize mx-auto img-fluid rounded-circle" src="{% static 'secure/img/property.jpeg' %}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title text-center" style="color:#112a51">Property Protection</h5>
					    <p class="card-text">We Provide security solutions to clients in residential and commercial environments..
					    <a href="{% url 'services:property-protection' %}" class="btn btn-sm btn-primary aboutbtn" style="color:#fff;">Request a Quote</a></p>
					    
					  </div>
					</div>
				</div>
				<div class="col-12 col-md-3 mt-2">
					<div class="card" style="width: 100%;">
					  <img class="card-img-top pt-2 imagesize mx-auto img-fluid rounded-circle" src="{% static 'secure/img/personal.jpeg' %}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title text-center" style="color:#112a51">Personal Guard</h5>
					    <p class="card-text">Assetplan Seucuryt have specially trainined and certified VIP Security Professionals... 
					    <a href="{% url 'services:personal-guard'%} " class="btn btn-sm btn-primary aboutbtn ml-uto" style="color:#fff;">Request a Quote</a></p>
					    
					  </div>
					</div>
				</div>
				<div class="col-12 col-md-3 mt-2">
					<div class="card" style="width: 100%;">
					  <img class="card-img-top pt-2 imagesize mx-auto img-fluid rounded-circle" src="{% static 'secure/img/event.jpeg' %}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title text-center" style="color:#112a51">Event Security</h5>
					    <p class="card-text ">As a Firm, we can manage  access control, parking management, security checks and metal detections...
					    <a href="{% url 'services:event-security' %}" class="btn btn-sm btn-primary aboutbtn" style="color:#fff;">Request a Quote</a></p>
					    
					  </div>
					</div>
				</div>
					<div class="col-12 col-md-3 mt-2">
					<div class="card" style="width: 100%;">
					  <img class="card-img-top pt-2 imagesize mx-auto img-fluid rounded-circle" src="{% static 'secure/img/camera.jpeg' %}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title text-center" style="color:#112a51">Alarm,CCTV Install..</h5>
					    <p class="card-text">We work with Alarm and CCTV manufacturers to ensure that we provide the best monitering solutions..
					    <a href="{% url 'services:alarm-and-cctv-installation'%}" class="btn btn-sm btn-primary aboutbtn" style="color:#fff;">Request a Quote</a></p>
					    
					  </div>
					</div>
				</div>
				</div>
				
				<div class="row  justify-content-between">
					<div class="col-12 col-md-3 mt-2 pb-3">
					<div class="card" style="width: 100%;">
					  <img class="card-img-top pt-2 imagesize mx-auto img-fluid rounded-circle" src="{% static 'secure/img/audit.jpeg' %}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title text-center" style="color:#112a51">Security Audit</h5>
					    <p class="card-text">Assetplan Security Ltd work closely with government agencies to ensure that security audits are carried out successfully.
					    <a href="{% url 'services:security-audit' %} " class="btn btn-sm btn-primary aboutbtn" style="color:#fff;">Request a Quote</a></p>
					    
					  </div>
					</div>
				</div>
				<div class="col-12 col-md-3 mt-2 pb-3">
					<div class="card" style="width: 100%;">
					  <img class="card-img-top pt-2 imagesize mx-auto img-fluid rounded-circle" src="{% static 'secure/img/private_investigation.png' %}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title text-center" style="color:#112a51">Private investigation</h5>
					    <p class="card-text">We have a team that is dynamic,and trained specifically for these tasks. We also carry out inquiries quickly and thoroughly. 
					    <a href="{% url 'services:private-investigation'%}" class="btn btn-sm btn-primary aboutbtn" style="color:#fff;">Request a Quote</a></p>
					    
					  </div>
					</div>
				</div>
				<div class="col-12 col-md-3 mt-2 pb-3">
					<div class="card" style="width: 100%;">
					  <img class="card-img-top pt-2 imagesize mx-auto img-fluid rounded-circle" src="{% static 'secure/img/dog_handling.jpeg' %}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title text-center" style="color:#112a51">Dog Handling</h5>
					    <p class="card-text">Our dogs have been trained specifically for searching, explosive detection, intruder detection, and patrolling responsibilities. 
					    <a href="{% url 'services:dog-handling' %}" class="btn btn-sm btn-primary aboutbtn" style="color:#fff;">Request a Quote</a></p>
					    
					  </div>
					</div>
				</div>
			</div>
			
		</div>
		
	</section>

	<section id="contactus">
		{% include 'secure/snippets/contact-form.html' with form=form %}
	</section
{% endblock %}



