* {
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
body{
	font-family: 'Rajdhani', sans-serif;
}

/* nav bar styles */
.navbar{
	background-color: rgb(17, 42, 81, .9);


}

@import url('https://fonts.googleapis.com/css?family=Orbitron');
.navbar-brand{
	color: #f2f4f7 !important;
	font-family: 'Orbitron', sans-serif !important;
}
@import url('https://fonts.googleapis.com/css?family=Heebo:800');

.navbar .nav-item .nav-link{
	color: #f2f4f7 !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Heebo', sans-serif;


}
.navbar .nav-item .nav-link:hover{
	color:#e51400 !important;
	font-weight: 500;

}

.dropdown-item {
	color:#f2f4f7;
}


.dropdown:hover .dropdown-menu{
	background-color: #112a51;
	display: block;

}
.dropdown-item:hover{
	color:#e51400 !important;
}

/* carousel style */

.carousel-inner img{
	
	height: 50vh;

}
.active{
	color:#e51400 !important;
}
.slidertitle{
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Orbitron', sans-serif;
}
.sliderbody{
	color: #e51400;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	line-height: 1.3rem;
	letter-spacing: 2px;
	font-weight: bolder;
}
.carousel-caption{
	background-color: rgb(22, 21, 21, .2);
	width: 380px;
	margin-left: 270px;
	margin-bottom: 40px;
	border-radius: 70px;
	border-bottom: 1px solid rgb(51, 52, 53,.9);
}
/* about section */
.underline{
	border: 1px solid #112a51;
    width: 70px;
    text-align: center;
    margin: auto;
}
.underlineservice{
	border: 1px solid #f2f4f7;
    width: 120px;
    text-align: center;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css?family=Orbitron:900');

.servicetitle{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: 'Heebo', sans-serif;
}
.btn-primary{
	background-color:#112a51 !important;
}
@import url('https://fonts.googleapis.com/css?family=Rokkitt');
.brief p{
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	line-height: 1.6rem;
	letter-spacing: 1px;
}

/* service section */

.imagesize {
	height: 80px;
	width: 110px;
}
@import url('https://fonts.googleapis.com/css?family=Arapey');
.card{
	border-top: 0px;
	border-left: 0px;
	padding: 0;
	border-right: 1px solid #112a51;
	border-bottom: 1px solid #112a51;
	border-left: 1px solid #112a51;
	border-top: 1px solid #112a51;
	background-color: rgb(17, 42, 81, .6);
	
}
.card-text {
	color: #f2f4f7;
	font-family: 'Rokkitt', serif;
	font-size: 15px;
	line-height: 1.3rem;
	letter-spacing: 1px;
}
.card-title{
	padding:2px 0px;
	color: #f2f4f7 !important;
	font-weight: bold;
	border-bottom: 1px solid #f2f4f7;

}
.aboutbtn:hover{
	color:#e51400 !important;
	background-color: #f2f4f7 !important;
}


@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.getintouch{
	color: #112a51;
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	line-height: 1.3rem;
	letter-spacing: 1px;
}
.textp{
	margin-left: 500px;
}


.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}