{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/favi.png' %}"/>

    <!-- CSS -->
    {% include 'base/css.html' %}
    <title> Assetplan:{% block title %}  {% endblock %}</title>
    
      {%block style%}{% endblock %}

    
  </head>
  <body>
    <header>
      {% include 'base/navbar.html' %}

    </header>
    

    {% block content %}

    {% endblock %}

    <section>
    {%  include 'base/footer.html' %}
    </section>
    

    <!--  JavaScript -->
    {% include 'base/js.html' %}
  </body>
</html>