{% extends 'base.html' %}
{% block title %}Alarm and CCTV Installation {% endblock %}


{% block content %}
<div class="container">
	<div class="row mt-4">
		<div class="col brief bodytext-p">
			<h4 class="text-center subtitle">Alarm and CCTV Installation</h4>
			<p> Keeping your home or private property safe is a concern for every everybody. Assetplan Security Ltd recognize these needs as part of the core monitering techniques one can have either in their homes, businesses or any place of concern. </p>
			<p>We work with the recognized Alarm and CCTV manufacturers to ensure that we provide the best monitering solutions to our clients. specifically, we install alarm systems such as smoke alarms, fire alarms and burglar alarms amongs others. <b>to request a quote, kindly fill out the form below and we will get to you immediately.</b></p>
		</div>
	</div>
	<div class="row my-4">
		<div class="col-12 col-md-7 mx-auto">
			<h4 class="text-center subtitle">Fill the Form</h4>
			<div class="underlineform"></div>
			{% include 'services/snippets/quote-form.html' with form=form %}
		</div>
	</div>
</div>
{% endblock %}