{% extends 'base.html' %}
{% block title %}Property Protection {% endblock %}


{% block content %}
<div class="container">
	<div class="row mt-4">
		<div class="col brief bodytext-p">
			<h4 class="text-center subtitle">Property Protection</h4>
			<p>As a security Company, we understand the challenges of protecting valuable assets especially for clients working and living in remote areas. Our comprehensive security solutions which include manned guarding and use of technological elements have proven to be excellent in these areas. </p>
			<p>Our Main focus is to provide security solutions to clients in residential environments, commercial environment and even in industrial or agricultural settings.The guards on deployment are provided with necessary tools and equipement for specific assignments. <b>to request a quote, kindly fill out the form below and we will get to you immediately.</b></p>
		</div>
	</div>
	<div class="row my-4">
		<div class="col-12 col-md-7 mx-auto">
			<h4 class="text-center subtitle">Fill the Form</h4>
			<div class="underlineform"></div>
			{% include 'services/snippets/quote-form.html' with form=form %}
		</div>
	</div>
</div>
{% endblock %}